.container {
  max-width: 800px;
}
.container-scence {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
  padding: 5%;
}
.scene {
  padding: 0;
  margin: 0;
}

footer {
  margin-top: 20px;
}